@import url(./variables.css);
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  min-height: 100vh;
  background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
}

@media (min-width: 425px) {
  body {
    margin-left: 150px;
  }

  .k-drawer {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
}
